@import './../styles'

.procedures
    @include homeSection
    & .ant-list-grid .ant-col > .ant-list-item
        background-color: white
        margin-bottom: 1rem
        padding-left: 16px
        padding-right: 8px
