/** STATUS SECTION **/
.status {
  background-color: #e9ebee;
}

.status .ant-list-item-meta-title {
  font-weight: bold;
  color: #324995;
}

.status .ant-list-item-meta-title a {
  font-weight: bold;
  color: #324995;
  font-size: 1rem;
}

.status .ant-list-grid .ant-col > .status .ant-list-item {
  margin-bottom: 8px;
}

.status .ant-avatar {
  height: 80px;
  width: 80px;
}

.status .ant-list-item-meta-description {
  color: black;
  font-size: 0.7rem;
  text-align: center;
  padding: 0px 6px;
  line-height: 1;
}

.warning-msg {
  background-color: black;
  color: #fbe44f;
  padding-top: 4px;
  margin: 0;
  padding: 10px;
  text-align: center;
}

.warning-msg h3 {
  color: #fbe44f;
  font-weight: bold;
  margin-bottom: 0;
}

.warning-msg p {
  margin-bottom: 0.2rem;
  font-size: 0.7rem;
}

.warning-msg .detail {
  color: white;
  font-size: 0.7rem;
}

/** PROCEDURES SECTION **/
.procedures {
  background-color: #e9ebee;
  padding: 0;
  /* margin-left: 8px;
    margin-right: 8px; */
}

.procedures .ant-list-grid .ant-col > .ant-list-item {
  background-color: white;
  margin-bottom: 1rem;
  padding-left: 16px;
  padding-right: 8px;
}

.events {
  background-color: #e9ebee;
  padding: 0;
}
